.App {
    max-width: 1000px;
    margin: auto;
}

.primary-text-color {
    color: #b4b4b4;
}

.white-text-color {
    color: #fff;
}

.grey-hr::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px;
    height: 1.5px;
    background-color: rgba(0, 0, 0, .1);
}